{% extends "base.html.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/home.css">
{% endblock %}

{% block scripts %}
    <script src="{{ base_path }}/assets/js/home.js"></script>
{% endblock %}


{% block content %}

    <div class="container-fluid row">
        <div class="col-sm-3 sidenav">
            <div class="row content">
                <div class="img-responsive headimage">
                    <img src="{{ base_path }}/assets/pwbox.png" alt="Logo">
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#section1">{{ username }}'s Box</a></li>
                    <li><a href="#section2">Shared with Me</a></li>
                </ul>
                <br>

                <div class="rspace">

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ sizepercent }}" aria-valuemin="0"
                             aria-valuemax="100" style="width: {{ sizepercent }}%;">
                            <span class="sr-only">{{ sizepercent }}% Complete</span>
                        </div>
                    </div>

                    <h5> {{ size }}MB of 1GB used </h5>

                </div>

                <div class="buttons-div row">

                    <div class="dropup">
                        <button class="btn btn-default my-btn" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-folder-close"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li><form class="input-group" action="/create-folder" method="post">
                                    <input type="text" class="form-control" name="folder_name" placeholder="Insert name" autofocus>
                                    <input type="hidden" name="id_folder" id="id_folder" value="{{ id_folder }}">
                            </form></li>
                        </ul>
                    </div>


                    <button class="btn btn-default my-btn modaldiv" data-toggle="modal" data-target="#uploadModal">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>

                </div>


            </div>
        </div>

        <div class="mainbody col-sm-9">

            <h3>Home &gt RutaActual</h3>

            <br>

            <a href="/resendemail">{{ mensaje }}</a> <br>

            {% for message in messages %}
                {{ messages.error[0] }}
            {% endfor %}

            <h4>Folders</h4>

            <table id="folders" class="table table-hover unselectable">

                <tbody>
                {% for folder in folders %}
                    <tr ondblclick="openFolder('{{ folder.id }}');">
                        <th><span class="glyphicon glyphicon-folder-open"></span> {{ folder.name }}</th>
                        <th class="dropup">
                            <button class="btn btn-link" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-share dropdown-toggle"></span></button>
                            <ul class="dropdown-menu">
                                <li><form class=" input-group" action="/shareFolder" method="post">
                                        <input type="text" class="form-control" name="email" placeholder="Insert email" autofocus>
                                        <input type="text" class="form-control" name="rol" placeholder="Insert role">
                                        <input type="hidden" name="id_folder" id="id_folder" value="{{ folder.id }}">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-share"></span>
                                        </button>
                                    </form></li>
                            </ul>
                        </th>
                        <th class="dropup">
                            <button class="btn btn-link" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-edit dropdown-toggle"></span></button>
                            <ul class="dropdown-menu">
                                <li><form class=" input-group" action="/rename" method="post">
                                        <input type="text" class="form-control" name="folder_name" placeholder="Insert name" autofocus>
                                        <input type="hidden" name="id_folder" id="id_folder" value="{{ folder.id }}">
                                    </form></li>
                            </ul>
                        </th>
                    </tr>
                {% endfor %}

                </tbody>

            </table>


            <br>

            {% block files %}
                <h4>Files </h4>
                {% for file in files %}
                    <li>{{ file.name }}</li>
                {% endfor %}

                <div id="files">
                    {% block errorFiles %}
                        {% for error in errors %}
                            <p> {{ error }} </p>
                        {% endfor %}

                        {% if moreErrors['invalidExt'] is defined %}
                            <p> {{ moreErrors['extensions'] }} </p>
                        {% endif %}

                        {% if moreErrors['invalidSize'] is defined %}
                            <p> {{ moreErrors['size'] }} </p>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}

        </div>

    </div>

    <div class="dropdown profile">
        {{ username }}
        <img src="{{ base_path }}/profilePics/{{ path }}"
             class="dropdown-toggle img-circle dropdown-profile my-img-circle"
             type="button" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/profile">My account</a></li>
            <li><a href="" data-toggle="modal" data-target="#notificationModal">
                    Notifications
                </a>
            </li>
            <li><a href="/logout">
                    Log out
                </a></li>

            </li>
        </ul>
    </div>


    <div id="uploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload in current folder</h4>
                </div>
                <div class="modal-body">
                    <form class="input-group" action="/file" method="post" enctype="multipart/form-data">
                        <input type="file" name="files[]" id="files" class="form-control" multiple="multiple">
                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                 <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </span>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div id="notificationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notifications</h4>
                </div>
                <div class="modal-body">
                    <table id="notifications" class="table table-hover unselectable borderless">
                        <tbody>
                            <tr onclick="deleteNotification(this)">
                                <th>Jesús se ha cagado en el funcionamiento responsive del bootstrap.</th>
                            </tr>
                            <tr onclick="deleteNotification(this)">
                                <th>Jesús se ha cagado en el funcionamiento responsive del bootstrap.</th>
                            </tr>
                            <tr onclick="deleteNotification(this)">
                                <th>Jesús se ha cagado en el funcionamiento responsive del bootstrap.</th>
                            </tr>
                            <tr onclick="deleteNotification(this)">
                                <th>Jesús se ha cagado en el funcionamiento responsive del bootstrap.</th>
                            </tr>
                            <tr onclick="deleteNotification(this)">
                                <th>Jesús se ha cagado en el funcionamiento responsive del bootstrap.</th>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
