{% extends "base.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/login.css">
{% endblock %}

{% block scripts %}
    <script src="{{ base_path }}/assets/js/home.js"></script>
    <script src="{{ base_path }}/assets/js/updateUserInfo.js"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2>Update</h2>
            <form class="box" action="" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="{{ user.nombre }}" name="name" readonly>
                <input type="text" placeholder="{{ user.description }}" name="description" readonly>
                <input type="text" placeholder="{{ user.description }}" name="characteristics" readonly>
                <input type="text" placeholder="{{ user.username }}" name="username" readonly>
                <input id="email" type="text" placeholder="{{ user.email }}" name="email">
                <input id="pass" type="password" placeholder="Password" name="password">
                <input id="pass_re" type="password" placeholder="Repeat password" name="repassword">

                <input id="picture" type="file" name="picture" id="picture"><br>

                <button onclick="updateInfo()" class="btn btn-primary full-width loginbtn" type="button">
                    Update
                </button>
                <a  class="btn btn-warning full-width signinbtn" href="home">
                    Go back
                </a>
            </form>

            <form class="box" action="" method="post" enctype="multipart/form-data">

                <input id="picture" type="file" name="picture" id="picture"><br>

                <button onclick="updatePhoto()" class="btn btn-primary full-width loginbtn" type="button">
                    Change photo
                </button>
            </form>
        </div>
    </div>

{% endblock %}