{% extends "base.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/profile.css">
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ base_path }}/assets/js/updateUserInfo.js"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2>Update</h2>

            <div class="row">

                <form id="fieldsForm" class="col-sm-6" action="profile" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="{{ user.nombre }}" name="name" readonly>
                    <input type="text" placeholder="{{ user.description }}" name="description" readonly>
                    <input type="text" placeholder="{{ user.description }}" name="characteristics" readonly>
                    <input type="text" placeholder="{{ user.username }}" name="username" readonly>
                    <input id="email" type="text" placeholder="{{ user.email }}" name="email">
                    <input id="pass" type="password" placeholder="Password" name="password">
                    <input id="pass_re" type="password" placeholder="Repeat password" name="repassword">
                    <button class="btn btn-primary full-width loginbtn" type="button" onclick="updateInfo()">
                        Update
                    </button>
                </form>

                <form id="pictuteForm" class="col-sm-6" action="profile" method="post" enctype="multipart/form-data">
                    <input type="file" name="picture" id="picture"><br>
                    <button  class="btn btn-primary full-width loginbtn" type="button" onclick="updatePhoto()">
                        Change photo
                    </button>
                </form>

                <a  class="btn btn-warning full-width signinbtn" href="home">
                    Go back
                </a>

            </div>
        </div>
    </div>

{% endblock %}