{% extends "base.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/profile.css">
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ base_path }}/assets/js/updateUserInfo.js"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2>Your account</h2>

            <div class="row">

                <form id="fieldsForm" class="col-sm-6" action="profile" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="{{ user.nombre }}" name="name" readonly>
                    <input type="text" placeholder="{{ user.description }}" name="description" readonly>
                    <input type="text" placeholder="{{ user.description }}" name="characteristics" readonly>
                    <input type="text" placeholder="{{ user.username }}" name="username" readonly>
                    <input id="email" type="text" placeholder="{{ user.email }}" name="email">
                    <input id="pass" type="password" placeholder="Password" name="password">
                    <input id="pass_re" type="password" placeholder="Repeat password" name="pass_re">
                    <button class="btn btn-primary full-width loginbtn" type="button" onclick="updateInfo()">
                        Update
                    </button>
                </form>

                <form id="picForm" class="col-sm-6" action="profile" method="post" enctype="multipart/form-data">
                    <img id="pic" src="{{ base_path }}/profilePics/{{ user.profile_pic }}" width="200" height="200"  >
                    <input type="file" onchange="document.getElementById('pic').src = window.URL.createObjectURL(this.files[0])"
                            id="picture" name="picture">
                    <br>
                    <button onclick="updatePhoto()" class="btn btn-primary full-width loginbtn" type="button">
                        Change photo
                    </button>
                </form>

                <p id="message"></p> {#error/success messages#}

                <div class="modaldiv btn btn-danger full-width signinbtn" data-toggle="modal" data-target="#myModal">
                    Delete account
                </div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Are you sure you want to to delete your account?</h4>
                            </div>
                            <div class="modal-body">
                                <p>This will delete all your saved data in PWBox, including your files and personal
                                information. You won't be able to access to folders shared with you.</p>
                            </div>
                            <div class="modal-footer my-modal-foot">
                                <div class="row">
                                    <form  class="col-sm-6" action="/deleteAccount" method="POST">
                                        <button type="submit" class="btn btn-danger">Yes!</button>
                                    </form>
                                    <button type="button" class="btn btn-warning col-sm-6" data-dismiss="modal">Cancel</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <a  class="btn btn-warning full-width signinbtn" href="home">
                    Go back
                </a>

            </div>
        </div>
    </div>

{% endblock %}