{% extends "base.html.twig" %}
{% block title %}
    <title>PWBox - SHARED with ME</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/home.css">
    <link href="{{ base_path }}/assets/css/bootstrap.fd.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ base_path }}/assets/js/bootstrap.fd.js"></script>
    <script src="{{ base_path }}/assets/js/shared.js"></script>
{% endblock %}


{% block content %}

    <div class="container-fluid row">
        <div class="col-sm-3 sidenav">
            <div class="row content">
                <div class="img-responsive headimage">
                    <img src="{{ base_path }}/assets/pwbox.png" alt="Logo">
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/home">{{ username }}'s Box</a></li>
                    <li class="active"><a href="">Shared with Me</a></li>
                </ul>
                <br>


                <div class="buttons-div row">

                    <div class="dropup">
                        <button class="btn btn-default my-btn" data-toggle="dropdown" {% if isAdmin != 'true' %} disabled {% endif %}>
                            <span class="glyphicon glyphicon-folder-close"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li><form class="input-group" action="/create-shared-folder" method="post">
                                    <input type="text" class="form-control" name="folder_name" placeholder="Insert name" autofocus>
                                    <input type="hidden" name="id_folder" id="id_folder" value="{{ id_folder }}">
                            </form></li>
                        </ul>
                    </div>


                    <button class="btn btn-default my-btn" onclick="openFileDialog()" {% if isAdmin != 'true' %} disabled {% endif %}>
                        <span class="glyphicon glyphicon-file"></span>
                    </button>

                </div>


            </div>
        </div>

        <div class="mainbody col-sm-9">

            <h3>Shared</h3>

            <br>

            <a href="/resendemail">{{ mensaje }}</a> <br>

            {% for message in messages %}
                {{ messages.error[0] }}
            {% endfor %}

            <h4>Folders</h4>

            <table id="folders" class="table table-hover unselectable">

                <tbody>
                {% for folder in folders %}
                    <tr>
                        <th ondblclick="openFolder('{{ folder.id }}', 'no')"><span class="glyphicon glyphicon-folder-open"></span> {{ folder.name }}</th>
                        <th class="dropup">
                            <button class="btn btn-link" type="button" data-toggle="dropdown" {% if isAdmin != 'true' %} disabled {% endif %}>
                                <span class="glyphicon glyphicon-share dropdown-toggle"></span></button>
                            <ul class="dropdown-menu">
                                <li><form class=" input-group" action="/shareFolder" method="post">
                                        <input type="text" class="form-control" name="email" placeholder="Insert email" autofocus>
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="rol" value="admin">Give permissions</label>
                                        </div>
                                        <input type="hidden" name="id_folder" id="id_folder" value="{{ folder.id }}">
                                        <button class="btn btn-link" type="submit">
                                            Submit
                                        </button>
                                    </form></li>
                            </ul>
                        </th>
                        <th class="dropup">
                            <button class="btn btn-link" type="button" data-toggle="dropdown" {% if isAdmin != 'true' %} disabled {% endif %}>
                                <span class="glyphicon glyphicon-edit dropdown-toggle"></span></button>
                            <ul class="dropdown-menu">
                                <li><form class=" input-group" action="/renameSharedFolder" method="post">
                                        <input type="text" class="form-control" name="folder_name" placeholder="Insert name" autofocus>
                                        <input type="hidden" name="id_folder" id="id_folder" value="{{ folder.id }}">
                                    </form></li>
                            </ul>
                        </th>
                        <th><form class=" input-group" action="/deleteSharedFolder" method="post">
                                <input type="hidden" name="folder_name" id="folder_name" value="{{ folder.name }}">
                                <input type="hidden" name="id_shared_folder" id="id_folder" value="{{ folder.id }}">
                                <button class="btn btn-link" type="submit" {% if isAdmin != 'true' %} disabled {% endif %}>
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </th>
                    </tr>
                {% endfor %}

                    <tr onclick="openFolder('{{ folder.id }}', 'si')">
                        <th><span class="glyphicon glyphicon-chevron-left"></span></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                </tbody>

            </table>


            <br>

            {% block files %}
                <h4>Files </h4>

                <div class="files">
                    {% for file in files %}
                        <figure class="btn btn-default">
                            <img class="cardimg" src="{{ base_path }}/assets/{{ file.type }}.png" alt="file">
                            <figcaption>
                                <p>{{ file.name }}</p>
                            </figcaption>
                            <div class="floating-buttons">

                                <form class=" input-group" action="/downloadFile" method="post">
                                    <input type="hidden" name="id_file" id="id_folder" value="{{ file.id }}">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-download"></span>
                                    </button>
                                </form>


                                <div class="dropup filedropup">
                                    <button class="dropup btn btn-primary" type="button" data-toggle="dropdown" {% if isAdmin != 'true' %} disabled {% endif %}>
                                        <span class="glyphicon glyphicon-edit dropdown-toggle"></span></button>

                                    <ul class="dropdown-menu filedropupmenu">
                                        <li><form class=" input-group" action="/renameSharedFile" method="post">
                                                <input type="text" class="form-control" name="file_name" placeholder="Insert name" autofocus>
                                                <input type="hidden" name="id_file" id="id_file" value="{{ file.id }}">
                                            </form></li>
                                    </ul>
                                </div>


                                <form class=" input-group" action="/deleteSharedFile" method="post">
                                    <input type="hidden" name="id_file" value="{{ file.id }}">
                                    <button class="btn btn-danger" type="submit" {% if isAdmin != 'true' %} disabled {% endif %}>
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>

                            </div>
                        </figure>
                    {% endfor %}

                </div>

            {% endblock %}
            {{ parent() }}
        </div>

    </div>

    <div class="dropdown profile">
        {{ username }}
        <img src="{{ base_path }}/profilePics/{{ path }}"
             class="dropdown-toggle img-circle dropdown-profile my-img-circle"
             type="button" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/profile">My account</a></li>
            <li><a href="" data-toggle="modal" data-target="#notificationModal">
                    Notifications
                </a>
            </li>
            <li><a href="/logout">
                    Log out
                </a></li>

            </li>
        </ul>
    </div>


    <div id="notificationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notifications</h4>
                </div>
                <div class="modal-body">
                    <table id="notifications" class="table table-hover unselectable borderless">
                        <tbody>
                            {% for notification in notifications %}
                               <tr onclick="deleteNotification(this, {{ notification.id }})">
                                   <th>{{ notification.info }}</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
